body {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  .container {
    text-align: center;
    margin-top: 5%;
  }
  
  
  h1 {
    font-size: 500%;
    color: #2F6690;
    text-align: center;
  }
  
  .subtitle {
    font-size: 100%;
    color: #555;
    text-align: center;
  }
  
  .disclaimer {
    font-size: 80%;
    color: #555;
    margin-top: 2%;
    text-align: center;
  }
  
  .btn {
    width: 50%; /* 按鈕寬度佔容器寬度的 25% */
    height: 100px; /* 按鈕高度佔容器高度的 5% */
    padding: 0;
    margin-top: 2%;
    border: 0.3% solid #CED0CE;
    background-color: #FFFFFF;
    font-size: 40px; /* 按鈕文字大小佔容器文字大小的 60% */
    position: relative;
    overflow: hidden;
    color: #2F6690;
    font-weight: 1000;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .btn:hover {
    background-color: #2F6690;
    border: 0.3% solid #FFFFFF;
    color: #FFFFFF;
  }
  .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2; /* 確保<a>元素位於按鈕的上方 */
  }
  
  
  /*流動背景*/
  
  :root {
  --cr-main-1: #2ac9de;
  --cr-main-2: #f087f4;
  --cr-1: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 20%);
  --cr-2: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 35%);
  --cr-3: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 50%);
  --cr-4: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 65%);
  --cr-5: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 80%);
  }
  .blobs {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: blur(140px);
  }
  
  .blob {
  width: max(240px, 28vw);
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  }
  
  .blob:nth-of-type(1) {
  background: var(--cr-main-1);
  }
  
  .blob:nth-of-type(2) {
  background: var(--cr-main-2);
  }
  
  .blob:nth-of-type(3) {
  background: var(--cr-1);
  }
  
  .blob:nth-of-type(4) {
  background: whitesmoke;
  }
  
  .blob:nth-of-type(5) {
  background: var(--cr-3);
  }
  
  .blob:nth-of-type(6) {
  background: var(--cr-4);
  }
  
  .blob:nth-of-type(7) {
  background: var(--cr-2);
  }

